.app {
  height: 100%;
  background-color: rgb(240, 211, 211);
}
.container {
  width: 1000px;
  margin: 0 auto;
}

.app__loading {
  height: 100%;
  background-color: rgb(240, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}
